@import url("https://use.typekit.net/tik5zef.css");

#number-field-container {
  display: flex;
  flex-direction: column;
}

.number-field {
  background-color: #042c44;
  color: #f9b978;
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  width: 225px;
  height: 55px;
  resize: none;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  margin: 5px 15px;
}

.number-field::-webkit-outer-spin-button,
.number-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.limit-text {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 4px;
  font-size: 17px;
  color: #eadcc5;
}

@media only screen and (max-width: 750px) {
  /* For mobile: */
  .number-field {
    font-size: 35px;
    width: 125px;
  }
}
