@import url("https://use.typekit.net/tik5zef.css");

h2 {
  color: #eadcc5;
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 12px;
}

#number-fields-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: -55px;
}

#dash {
  color: #f9b978;
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  margin-top: -15px;
}

#generate-button {
  background-color: #08af8f;
  color: #eadcc5;
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 12px;
  border-radius: 15px;
}

#generate-button:hover {
  background-color: #079378;
  transition: ease-in-out 0.2s;
}
